<configuration>
    <vSphere>
        <hostname>HOSTNAME</hostname>
        <username>USERNAME</username>
        <password>PASSWORD</password>
        <maxLookBackMinutes>10</maxLookBackMinutes>
        <vHostStatTypes>
            <statType>cpu.usage.average</statType>
            <statType>cpu.ready.summation</statType>
            <statType>datastore.maxtotallatency.latest</statType>
            <statType>disk.usage.average</statType>
            <statType>disk.write.average</statType>
            <statType>disk.read.average</statType>
            <statType>net.usage.average</statType>
            <statType>mem.usage.average</statType>
            <statType>power.power.average</statType>
        </vHostStatTypes>
    </vSphere>
    <graphite>
        <hostname>HOSTNAME</hostname>
        <metricPrefix>Servers</metricPrefix>
        <portPlaintext>2003</portPlaintext>
    </graphite>
    <pollIntervalSeconds>60</pollIntervalSeconds>
</configuration>
